<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GitMiningChart</title>
  <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
  <script src="js/userDetail.js"></script>
  <script src="js/login_service.js"></script>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/top.css" rel="stylesheet" media="screen">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="repoSearch.html">项目搜索</a></li>
            <li class="active"><a href="userSearch.html">用户搜索</a></li>
            <li><a href="statisticChart.html">统计图表</a></li>
          </ul>
          <div ng-hide="hasLogIn" class="navbar-form navbar-right">
            <div class="form-group">
                <input type="text" placeholder="Email" class="form-control" ng-model="email">
            </div>
            <div class="form-group">
                <input type="password" ng-model="password" placeholder="Password" class="form-control">
            </div>
            <button ng-click="login()" class="btn btn-success">Sign in</button>
          </div>
          <div ng-hide="!hasLogIn" class="navbar-form navbar-right">
            
            <button ng-click="" class="btn btn-success">Sign in</button>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
   <div ng-app="main_app" ng-controller="detail_controller" >
    <div class="page-header col-md-offset-2 col-md-8">
        <h1>{{user.login}}<small>{{user.id}}</small></h1>
    </div>
      <div class="col-md-12">
       <div class="col-md-4">
          <img ng-src="{{user.avatar_url}}" class="col-md-12">
          <div>
            <p>用户类型：{{user.type}}</p>
          </div>
          <div>
            <p>用户地点：{{user.location}}</p>
            </div>
          <div>
            <p>创建时间：{{formattime(user.created_at)}}</p>
            </div>
          <div>
            <p>更新时间：{{formattime(user.updated_at)}}</p>
          </div>
       </div>
       
        <div class="col-md-8">
          <div id="radar" style="min-width:700px;height:400px"></div>
          <h2 class="col-md-offset-4 col-md-8">用户统计数据</h2>
          <br>
          <div class="col-md-4">
            <div class="col-md-12">{{user.following}}</div>
            <div class="col-md-12">被关注人数</div>
          </div>
          <div class="col-md-4">
            <div class="col-md-12">{{user.followers}}</div>
            <div class="col-md-12">关注人数</div>
          </div>
          <div class="col-md-4">
            <div class="col-md-12">{{user.public_repos}}</div>
            <div class="col-md-12">公开项目</div>
          </div>
        </div>
       </div>
       
       <div class="col-md-12">
        <!-- 空行 -->
       </div>
       <div class="col-md-12">
         <div class="col-md-6">
          <Strong>关注者用户列表</Strong>
          <ul class="list-group">
             <li class="list-group-item">Cras justo odio</li>
             <li class="list-group-item">Dapibus ac facilisis in</li>
             <li class="list-group-item">Morbi leo risus</li>
             <li class="list-group-item">Porta ac consectetur ac</li>
             <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          </div>
          <div class="col-md-6">
           <Strong>关注用户列表</Strong>
           <ul class="list-group">
             <li class="list-group-item">Cras justo odio</li>
             <li class="list-group-item">Dapibus ac facilisis in</li>
             <li class="list-group-item">Morbi leo risus</li>
             <li class="list-group-item">Porta ac consectetur ac</li>
             <li class="list-group-item">Vestibulum at eros</li>
           </ul>
          </div>
        </div>
        <div class="col-md-4">
           <Strong>持有项目列表</Strong>
           <ul class="list-group">
             <li class="list-group-item">Cras justo odio</li>
             <li class="list-group-item">Dapibus ac facilisis in</li>
             <li class="list-group-item">Morbi leo risus</li>
             <li class="list-group-item">Porta ac consectetur ac</li>
             <li class="list-group-item">Vestibulum at eros</li>
           </ul>
        </div>
        <div class="col-md-4">
            <Strong>推荐项目列表</Strong>
           <ul class="list-group">
             <li class="list-group-item">Cras justo odio</li>
             <li class="list-group-item">Dapibus ac facilisis in</li>
             <li class="list-group-item">Morbi leo risus</li>
             <li class="list-group-item">Porta ac consectetur ac</li>
             <li class="list-group-item">Vestibulum at eros</li>
           </ul>
        </div>
        <div class="col-md-4">
           <Strong>订阅项目列表</Strong>
           <ul class="list-group">
             <li class="list-group-item">Cras justo odio</li>
             <li class="list-group-item">Dapibus ac facilisis in</li>
             <li class="list-group-item">Morbi leo risus</li>
             <li class="list-group-item">Porta ac consectetur ac</li>
             <li class="list-group-item">Vestibulum at eros</li>
           </ul>
        </div>
        
        <script src="js/userRadar.js"></script>
     </div>
</body>
</html>

