.default-color0.chart-pie{
	-fx-pie-color:#6495ed;
}
.default-color1.chart-pie{
	-fx-pie-color:#0000ff;
}
.chart-pie-label-line{
	-fx-stroke:#00008b;
	-fx-fill:#00008b;
}
.chart-pie-label{
	-fx-fill:#00008b;
	-fx-font-size:1em;
}
.chart-legend{
	-fx-background-color:#fafad2;
	-fx-stroke:#daa520;
}