.chart-bar {
    -fx-background-color: rgba(0,168,355,0.05);
    -fx-border-color: rgba(0,168,355,0.3) rgba(0,168,355,0.3) 
        transparent rgba(0,168,355,0.3);
    -fx-background-radius: 0;
    -fx-background-position: left center;
}
 
.data0.chart-bar {
    -fx-background-color: rgba(0,100,80,0.7);
}
.data1.chart-bar {
    -fx-background-color: rgba(0,100,100,0.7);
}
.data2.chart-bar {
    -fx-background-color: rgba(0,100,120,0.7);
}
.data3.chart-bar {
    -fx-background-color: rgba(0,100,140,0.7);
}
.data4.chart-bar {
    -fx-background-color: rgba(0,100,160,0.7);
}
.data5.chart-bar {
    -fx-background-color: rgba(0,100,180,0.7);
}
.data6.chart-bar {
    -fx-background-color: rgba(0,100,200,0.7);
}
.data7.chart-bar {
    -fx-background-color: rgba(0,100,220,0.7);
}
.data8.chart-bar {
    -fx-background-color: rgba(0,100,240,0.7);
}
.data9.chart-bar {
    -fx-background-color: rgba(0,100,240,0.7);
}
.data10.chart-bar {
    -fx-background-color: rgba(0,100,240,0.7);
}
.data11.chart-bar {
    -fx-background-color: rgba(0,100,240,0.7);
}
.data12.chart-bar {
    -fx-background-color: rgba(0,100,240,0.7);
}
.data13.chart-bar {
    -fx-background-color: rgba(0,100,240,0.7);
}