div#main {
    /*width: 1920px;*/
    width: 100%;
    /*margin-left: auto;
    margin-right: auto;*/
}

.margin10{
	margin-top : 10%;
	margin-bottom : 10%;
	margin-left: 10%;
    margin-right: 10%;
}
