body {
    background-image: url("picture/background_1.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}
div#main {
    margin: 0;
    padding: 0;
}
h1#title_1 {
    margin-left: 44%;
    margin-right: 56%;
    margin-top: 10%;
    font-family: "Lucida Console", monospace;
    font-size: 48px;
}
h2#info_1 {

    font-family: Verdana;
    font-size: 32px;
}
button#button_1 {

    width: 40px;
    height: 40px;
    margin-top: 2%;
    background-color: transparent;
    border-style: hidden;
    background-image: url(picture/02.png);
}
div#footer_div{
  margin-left: 44%;
  margin-right: 56%;
  margin-top: 20%;
  font-family: Verdana;
  font-size: 16px;
}
