.default-color0.chart-pie{
	-fx-pie-color:#00ffff;
}
.default-color1.chart-pie{
	-fx-pie-color:#7fff00;
}
.chart-pie-label-line{
	-fx-stroke:#8a2be2;
	-fx-fill:#8a2be2;
}
.chart-pie-label{
	-fx-fill:#8a2be2;
	-fx-font-size:1em;
}
.chart-legend{
	-fx-background-color:#fafad2;
	-fx-stroke:#daa520;
}